@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

body, html {
    background-color: #fbfbfb;
    color: #111;
    /* text-shadow: 1px 1px 1px #111; */
}

#directory-pane {
    background-color: #24292e;
}

.tree-item:hover {
    background-color: #333;
    width: 100%;
}

.parent-dir {
    color: #777;
    text-shadow: 1px 1px 1px #777;
}

.parent-dir::before {
    color: #777 !important;
    text-shadow: 1px 1px 1px black;
}

.subdir {
    color: #bbb;
    text-shadow: 1px 1px 1px #bbb;
}

.subdir::before {
    color: khaki;
    text-shadow: 1px 1px 1px black;
}

.mdfile {
    color: #bbb;
    text-shadow: 1px 1px 1px #bbb;
}

.txtfile {
    color: #999;
    text-shadow: 1px 1px 1px #999;
}

.otherfile {
    color: #777;
    text-shadow: 1px 1px 1px #777;
}

#preview-pane {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

#preview-pane a {
  background-color: transparent;
}

#preview-pane a:active,
#preview-pane a:hover {
  outline-width: 0;
}

#preview-pane strong {
  font-weight: inherit;
}

#preview-pane strong {
  font-weight: bolder;
}

#preview-pane h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#preview-pane img {
  border-style: none;
}

#preview-pane code,
#preview-pane kbd,
#preview-pane pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

#preview-pane hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#preview-pane input {
  font: inherit;
  margin: 0;
}

#preview-pane input {
  overflow: visible;
}

#preview-pane [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

#preview-pane * {
  box-sizing: border-box;
}

#preview-pane input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#preview-pane a {
  color: #0366d6;
  text-decoration: none;
}

#preview-pane a:hover {
  text-decoration: underline;
}

#preview-pane strong {
  font-weight: 600;
}

#preview-pane hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

#preview-pane hr::before {
  display: table;
  content: "";
}

#preview-pane hr::after {
  display: table;
  clear: both;
  content: "";
}

#preview-pane table {
  border-spacing: 0;
  border-collapse: collapse;
}

#preview-pane td,
#preview-pane th {
  padding: 0;
}

#preview-pane h1,
#preview-pane h2,
#preview-pane h3,
#preview-pane h4,
#preview-pane h5,
#preview-pane h6 {
  margin-top: 0;
  margin-bottom: 0;
}

#preview-pane h1 {
  font-size: 32px;
  font-weight: 600;
}

#preview-pane h2 {
  font-size: 24px;
  font-weight: 600;
}

#preview-pane h3 {
  font-size: 20px;
  font-weight: 600;
}

#preview-pane h4 {
  font-size: 16px;
  font-weight: 600;
}

#preview-pane h5 {
  font-size: 14px;
  font-weight: 600;
}

#preview-pane h6 {
  font-size: 12px;
  font-weight: 600;
}

#preview-pane p {
  margin-top: 0;
  margin-bottom: 10px;
}

#preview-pane blockquote {
  margin: 0;
}

#preview-pane ul,
#preview-pane ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#preview-pane ol ol,
#preview-pane ul ol {
  list-style-type: lower-roman;
}

#preview-pane ul ul ol,
#preview-pane ul ol ol,
#preview-pane ol ul ol,
#preview-pane ol ol ol {
  list-style-type: lower-alpha;
}

#preview-pane dd {
  margin-left: 0;
}

#preview-pane code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

#preview-pane pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

#preview-pane .octicon {
  vertical-align: text-bottom;
}

/* #preview-pane::before {
  display: table;
  content: "";
}

#preview-pane::after {
  display: table;
  clear: both;
  content: "";
} */

#preview-pane>*:first-child {
  margin-top: 0 !important;
}

#preview-pane>*:last-child {
  margin-bottom: 0 !important;
}

#preview-pane a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#preview-pane .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

#preview-pane .anchor:focus {
  outline: none;
}

#preview-pane p,
#preview-pane blockquote,
#preview-pane ul,
#preview-pane ol,
#preview-pane dl,
#preview-pane table,
#preview-pane pre {
  margin-top: 0;
  margin-bottom: 16px;
}

#preview-pane hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

#preview-pane blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

#preview-pane blockquote>:first-child {
  margin-top: 0;
}

#preview-pane blockquote>:last-child {
  margin-bottom: 0;
}

#preview-pane kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

#preview-pane h1,
#preview-pane h2,
#preview-pane h3,
#preview-pane h4,
#preview-pane h5,
#preview-pane h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#preview-pane h1:hover .anchor,
#preview-pane h2:hover .anchor,
#preview-pane h3:hover .anchor,
#preview-pane h4:hover .anchor,
#preview-pane h5:hover .anchor,
#preview-pane h6:hover .anchor {
  text-decoration: none;
}

#preview-pane h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

#preview-pane h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

#preview-pane h3 {
  font-size: 1.25em;
}

#preview-pane h4 {
  font-size: 1em;
}

#preview-pane h5 {
  font-size: 0.875em;
}

#preview-pane h6 {
  font-size: 0.85em;
  color: #6a737d;
}

#preview-pane ul,
#preview-pane ol {
  padding-left: 2em;
}

#preview-pane ul ul,
#preview-pane ul ol,
#preview-pane ol ol,
#preview-pane ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#preview-pane li {
  word-wrap: break-all;
}

#preview-pane li>p {
  margin-top: 16px;
}

#preview-pane li+li {
  margin-top: 0.25em;
}

#preview-pane dl {
  padding: 0;
}

#preview-pane dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#preview-pane dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#preview-pane table {
  display: block;
  width: 100%;
  overflow: auto;
}

#preview-pane table th {
  font-weight: 600;
}

#preview-pane table th,
#preview-pane table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

#preview-pane table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

#preview-pane table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#preview-pane img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

#preview-pane img[align=right] {
  padding-left: 20px;
}

#preview-pane img[align=left] {
  padding-right: 20px;
}

#preview-pane code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

#preview-pane pre {
  word-wrap: normal;
}

#preview-pane pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#preview-pane .highlight {
  margin-bottom: 16px;
}

#preview-pane .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#preview-pane .highlight pre,
#preview-pane pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

#preview-pane pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#preview-pane .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

#preview-pane kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

#preview-pane :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

#preview-pane .task-list-item {
  list-style-type: none;
}

#preview-pane .task-list-item+.task-list-item {
  margin-top: 3px;
}

#preview-pane .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

#preview-pane hr {
  border-bottom-color: #eee;
}
