* {
    color: #bbb;
    text-shadow: 1px 1px 1px #bbb;
}

body {
    background-color: #222;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.3);
}

.row {
    background-color: #222;
}

a {
    color: #0074D9;
    text-shadow: 1px 1px 1px #0074D9;
}

hr {
    border-color: #444;
}

code {
    background-color: rgba(255, 255, 255, 0.1);
}

table, tr, th, td {
    border: 1px solid #444;
}
