@font-face {
    font-family: 'Inconsolata';
    font-style: 'normal';
    src: local('Inconsolata'), url('../resources/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), url('../resources/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans'), url('../resources/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans'), url('../resources/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans'), url('../resources/OpenSans-BoldItalic.ttf');
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #222;
    padding: 0px;
    margin: 0px;
}

.col {
    display: table-cell;
    resize: horizontal;
    overflow: auto;
    min-width: 10%;
    height: 85vh;
    min-width: 0;
    max-height: 85vh;
    box-shadow: 0px 0px 3px #000;
    -webkit-font-smoothing: antialiased;
}

#directory-pane {
    width: 15%;
}

#editor-pane {
    padding-left: 20px;
    font-size: 125%;
    color: #bbb;
    font-family: 'Inconsolata', monospace;
    white-space: pre-wrap;
    text-shadow: 1px 1px 1px #bbb;
}

#editor-pane:read-write:focus {
     outline: none;
}

#preview-pane {
    padding-left: 20px;
    font-size: 125%;
    color: #bbb;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #bbb;
}

h1 {
    font-size: 125%;
}

h2 {
    font-size: 115%;
}

h3 {
    font-size: 105%;
}

h4 {
    font-size: 95%;
}

h5 {
    font-size: 85%;
}

h6 {
    font-size: 75%;
}
